.about {
  &__img {
    max-width: 85%;
    transform: translateY(-1.1rem);
  }
}

.category {
  background-color: #b0f4ea;
  padding: 5rem 0;
  p {
    margin: 2rem 15rem 6rem 15rem;
  }

  &__image {
    min-height: 28vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s;

    cursor: pointer;

    &:hover {
      transform: translateY(-1rem) scale(1.03);
    }

    &-text {
      font-family: "DM Serif Display", serif;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      align-self: flex-end;
      //   margin-bottom: auto;

      font-size: 0.8rem;
    }

    &-1 {
      //   background-image: url("../assets/mind-and-body.png");
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../assets/mind-and-body.png");
    }
    &-2 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../assets/feminism.png");
    }
    &-3 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../assets/lifestyle2.png");
    }
    &-4 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../assets/motivation2.png");
    }
    &-5 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../assets/love-and-rela2.png");
    }
    &-6 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../assets/money.png");
    }
  }
}

.settee {
  padding: 5rem 0;

  p {
    color: #00b399;
  }
}

.vertical {
  border-right: 1px solid #000;
  padding-right: 4.5rem;
}

.enlighten {
  background-color: #b0f4ea;
  padding: 6rem 0;

  .img-fluid {
    max-width: 50%;
  }

  p,
  h3 {
    width: 80%;
  }
}

.community {
  padding: 5rem 0;

  &__card {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 1.4rem;

    &-img {
      grid-row: 1 / span 2;
      height: 9vh;
      border-radius: 50%;
    }

    p {
      margin-bottom: 0;
    }

    .community__card-1 {
      font-weight: 600;
      margin-top: 0.3rem;
    }
    .community__card-2 {
      font-weight: 300;
      font-size: 0.8rem;
      transform: translateY(-0.5rem);
    }
  }

  &__border {
    border: 1px solid #b0f4ea;
    border-radius: 5px;
    padding: 1rem;
  }

  &__text {
    font-size: 0.9rem;
    font-weight: 300;
  }
}
