.articles {
  &__large {
    h4 {
      font-family: "Nunito", sans-serif;
      font-weight: 700;
      letter-spacing: 3px;
      font-size: 1.3rem;
    }

    h3 {
      color: #00b399;
    }

    h6 {
      color: #00b399;
      font-size: 0.65rem;
      letter-spacing: 1px;
    }

    p:last-child {
      font-size: 0.7rem;
      font-weight: 600;
    }

    word-spacing: 2px;
    line-height: 1.7;
    // color: #343a40;
    // color: #6c757d;
  }

  &__small {
    background-color: #b0f4ea;

    .heading {
      letter-spacing: 1px;
    }

    .heading__tertiary {
      font-size: 0.9rem;
    }

    p {
      font-size: 0.7rem;
      font-weight: 700;
    }
  }
}
