.categories {
  h5 {
    font-weight: 600;
    font-size: 1.3rem;
  }
  p {
    // font-size: 0.8rem;
    color: #00b399;
  }

  hr {
    border-top: 1px solid #00b399;
  }

  &__item {
    a:link,
    a:visited,
    a:active {
      text-decoration: none;
      color: #000 !important;
    }

    a:hover {
      text-decoration: none;
      color: #666 !important;
    }
  }

  // &__item {
  //   &-link:link,
  //   // &-link:hover,
  //   &-link:visited,
  //   &-link:active {
  //     text-decoration: none;
  //     color: #000 !important;
  //   }
  //   &-link:hover {
  //     text-decoration: none;
  //     color: rgb(43, 42, 42) !important;
  //   }

  // }
}
