.button {
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8rem;
    border-radius: 10rem;
    cursor: pointer;
    padding: 0.4rem 1.2rem !important;
    // margin: 0 1rem;

    @include respond(phone) {
      font-size: 0.6rem;
      padding: 0.3rem 1rem !important;
      margin-right: 0.5rem;
    }
  }

  &__black {
    border: 2px solid #000;
    color: #fff;
    background-color: #000;

    &:hover {
      color: #fff;
    }
  }

  &__white {
    border: 2px solid #000;
    color: #000;
    background-color: #fff;

    &:hover {
      color: #000;
    }
  }
}

.step {
  font-size: 1rem;
  color: #fff;
  border-radius: 1.5rem;
  width: 3rem;
  line-height: 3rem;
  background-color: #b0f4ea;
  // margin: 0 auto;

  &__mb {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
}
