.button {
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8rem;
    border-radius: 10rem;
    cursor: pointer;
    padding: 0.4rem 1.2rem !important;
    // margin: 0 1rem;

    @include respond(phone) {
      font-size: 0.6rem;
      padding: 0.3rem 1rem !important;
      margin-right: 0.5rem;
    }
  }

  &__black {
    border: 2px solid #000;
    color: #fff;
    background-color: #000;

    &:hover {
      color: #fff;
    }
  }

  &__white {
    border: 2px solid #000;
    color: #000;
    background-color: #fff;

    &:hover {
      color: #000;
    }
  }
}

.step {
  font-size: 1rem;
  color: #fff;
  border-radius: 1.5rem;
  font-weight: 700;
  width: 3rem;
  padding: 0 1.1rem;
  line-height: 3rem;
  background-color: #000;
  // margin: 0 auto;

  &__mb {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
}

.icons {
  color: #00b399;
  font-size: 1.5rem;

  @include respond(phone) {
    font-size: 1.2rem;
  }

  &__facebook:hover {
    color: #3b5998;
  }
  &__twitter:hover {
    color: #00acee;
  }
  &__linkedin:hover {
    color: #922a76;
  }
  // &__whatsapp:hover {
  //   color: #00b399;
  // }
  &__link:hover {
    color: #007bff;
  }
}

// .card {
//   display: grid;
//   grid-template-columns: min-content 1fr;
//   grid-column-gap: 1.4rem;

//   &-img {
//     grid-row: 1 / span 2;
//     height: 10vh;
//     border-radius: 50%;
//   }

//   p {
//     margin-bottom: 0;
//   }

//   .card-title {
//     font-weight: 600;
//     margin-top: 1rem;
//   }
//   .card-subtitle {
//     font-weight: 300;
//     font-size: 0.8rem;
//     transform: translateY(-0.7rem);
//   }
// }

// .log-out {
//   color: red;
//   padding-top: 40rem;
// }
