.contribute2 {
  background-color: #b0f4ea;

  &__logo {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }

  .button {
    border-radius: 0;
    font-size: 1rem;
    padding: 0.7rem 3rem !important;
  }

  .img-fluid {
    max-width: 35%;

    transform: translateY(-8rem);

    @include respond(phone) {
      max-width: 70%;
      transform: translateY(0);
    }
  }

  p:last-child {
    font-weight: 600;
    @include respond(phone) {
      font-size: 0.7rem;
    }
  }
}

.contribute__cont {
  .p-5 {
    @include respond(phone) {
      // font-size: 1.5rem;
      padding: 0.5rem !important;
    }
  }
  .heading__secondary-2 {
    @include respond(phone) {
      font-size: 1.5rem;
    }
  }
  &--article {
    background-color: #000;
    color: #fff;
    h5 {
      color: #00b399;
    }

    padding: 2rem;
  }

  .img-fluid:last-child {
    max-width: 2%;
  }

  .heading {
    letter-spacing: 0;
  }

  .heading__tertiary-3 span {
    font-size: 0.6rem;
    color: #00b399;
  }

  &--share {
    // form {
    //   border: 1px solid #e7e7e7;
    //   border-radius: 4px;
    //   padding: 3rem;
    //   width: 90%;
    // }

    input,
    select,
    input:active,
    select:focus,
    input:focus,
    select:active {
      color: #00b399;
      border-color: #fff;
      outline: none;
      background-color: #fff;
    }

    .label {
      display: block;
      width: 70%;
      color: #00b399;
      cursor: pointer;

      border-bottom: 1px solid #e7e7e7;
      padding-bottom: 1.3rem;
    }

    label {
      color: #00b399;
    }

    .test22 {
      width: 70%;
      color: #00b399;
      cursor: pointer;

      border-bottom: 1px solid #e7e7e7;
      padding-bottom: 1.3rem;
    }

    input[type="file"] {
      display: none;
      padding-bottom: 3rem;
    }

    input[type="url"],
    input[type="text"],
    input[type="checkbox"] {
      padding-bottom: 1rem;
      border: none;
      border-bottom: 1px solid #e7e7e7;
      width: 70%;
      margin-bottom: 2rem;

      &::placeholder {
        color: #00b399;
      }
    }
    input[type="checkbox"] {
      width: 1%;
      transform: scale(1.6);
      margin-right: 1.3rem;
    }
  }

  &--border {
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    padding: 2rem;
    width: 90%;
  }
}
