.contribute {
  min-height: 100vh;
  &__header {
    background-color: #b0f4ea;
    border-radius: 4px;
  }

  //   .vertical-left {
  //     border-left: 1px solid #000;
  //     padding-top: 10rem;
  //   }

  &__section-2 {
  }
}
