.profile {
  color: #000;
  cursor: pointer;

  @include respond(phone) {
    margin: 0;
  }

  &__card {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 1.4rem;

    padding-bottom: 1.5rem;
    // margin: 0 2rem;

    &:hover {
      text-decoration: none;
      color: #666 !important;
    }

    @include respond(phone) {
      margin-bottom: 0;
      padding-bottom: 0 !important;
    }

    &-img {
      height: 10vh;
      grid-row: 1 / span 2;
      border-radius: 50%;

      // transform: translateY(-1rem);
      margin-left: 0.5rem;

      // @include respond(phone) {
      //   max-width: 70%;
      //   transform: translateY(0);
      // }
    }

    &-img1 {
      max-width: 15%;

      @include respond(phone) {
        max-width: 10%;
      }
    }

    &-title {
      font-weight: 700;
      margin-top: 0.5rem;
    }

    &-subtitle {
      font-weight: 400;
      font-size: 0.8rem;
      transform: translateY(-1.5rem);
    }
  }
}

// for create profile
.earn-badge {
  background-color: #b0f4ea;
  height: 2rem;
}
//

.profile__logout {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 15vh;
  font-weight: bold;
  cursor: pointer;

  // a {
  //   text-decoration: none;
  // }
}
