.heading {
  font-family: "DM Serif Display", serif;
  color: #000;
  //   text-transform: uppercase;
  letter-spacing: 2px;

  &__tertiary {
    font-size: 1.15rem;
    margin-bottom: 1rem;
  }

  &__tertiary-3 {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  &__secondary {
    font-size: 2.5rem;

    @include respond(phone) {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  &__secondary-2 {
    font-size: 2rem;

    @include respond(phone) {
      font-size: 1.7rem;
    }
  }

  &__primary {
    font-size: 3rem;
  }
}

.pad-left {
  padding-left: 4.5rem;

  @include respond(phone) {
    text-align: center;
    padding: 0 1rem;
  }
}

.mar-lar {
  margin-right: 15rem;

  @include respond(phone) {
    margin-right: 0;
  }
}
